<h1>Users list</h1>
  <% @users.each do |u| %>
    <% @user = u %>
    <div>
      <%= link_to u.name, user_path(u.id) %>
      <%= render "friend_request_button" %>
      <br>
      <br>
    </div>
  <% end %>
